#HomeTopBar {
    background-color: #193C7D;
    position: relative;
    top: 0%;
    height: 55px;
    width: 100%;
    box-shadow: 0px 8px 20px 0px rgb(66, 66, 66);
    overflow: hidden;
    
}


.HomeTopBarButton {
    position: relative;

    font-size: medium;
    color: #e8e8e8bd;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Kreon', serif;

    height: 100%;

    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

    /* transperent */
    background-color: rgba(0, 0, 0, 0);


    margin-left: 30px;


}

.BottomBorder {
    border-bottom: 5px;
    padding: 0px;
    border-color: white;
    border-style: solid;
    padding: 10px;
}

.HomeTopBarButton:hover {
    color: white;
}

#UserDetailsBtn {
    position: absolute;

    height: 50px;
    width: 50px;

    right: 0px;
    margin: auto;
    margin-right: 20px;
    top: 0px;
    bottom: 0px;
 

    border-style: solid;
    border-color: black;
    border-radius: 100%;

    background-color: blueviolet;

    font-size: x-large;
    font-family: sans-serif;
}