.week-shifts {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-left: 2px solid rgb(0, 0, 0);
  /* Highlight the border between days with a blue line */
  border: 2px solid rgb(0, 0, 0);
  /* Add outer border to the table */

}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  position: relative;
  border-left: 2px solid rgb(0, 0, 0);
  /* Highlight the border between days with a blue line */

}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th:first-child {
  width: 160px; /* Adjust the width as per your preference */
}

/* Style for border below first row */
.week-shifts tr:nth-child(1) {
  border-top: 2px solid rgb(0, 0, 0);
  /* Add a blue border below the first row */
}