.CenterDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    top: 20px;
    right: 0px;
    left: 0px;
    width: 700px;
    height: fit-content;
}

body {
  overflow-x: hidden;
}


.elipse {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background: #D4D4D4;
}

.elipse-on {
    background: linear-gradient(45deg, #0a4c8a, #5aafff);
    opacity: 0.9;

    border-color:#90c9ff;
    border-style: solid;
    border-width: 0.2px;
}

#GenerateProgress {
    margin-top: 35px;
    position: relative;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.content-container {
    display: flex;
    /* transition: transform 0.3s ease-in-out; */
    overflow: hidden;
  }

  .content-container:not(:nth-child(3)) {
    /* transition: transform 0.3s ease-in-out; */
  }

.upload-screen {
    flex: 1;
    min-width: 100%;
    overflow: hidden;
  }
  
  .upload-screen.left {
    transform: translateX(-100%);
  }
  
  .upload-screen.main {
    transform: translateX(0%);
  }
  
  .upload-screen.right {
    transform: translateX(100%);
  }




.generate-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .upload-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transition: transform 0.4s ease-in-out; */

  }

.HomeTopBar {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; */
}

button {
    position: relative;
}



