.CenterDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    top: 20px;
    right: 0px;
    left: 0px;
    width: 700px;
    height: fit-content;
}

.elipse {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 40px;
    margin-left: 40px;
    background: #D4D4D4;
    cursor: pointer;
    transition: transform 0s ease-in-out;
    text-align: center;
    vertical-align: middle;
    align-items: center;

}

.progNum {
    font-size: 20px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.elipse-on {
    background: #002ec4;
    opacity: 0.9;

    border-color:#90c9ff;
    border-style: solid;
    border-width: 0.2px;
}

.elipse-on h3 {
    color: white;
}

#GenerateProgress {
    margin-top: 35px;
    position: relative;
    height: 70px;
    display: flex;
    flex-direction: row;
}


.upload-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }

  .loadingScreen {
    position: fixed; /* Make it take up the entire screen */
    top: 0;
    left: 0;
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    z-index: 100;  /* Ensure it appears on top of other elements */
    display: flex;  /* Center the content inside the loading screen */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}

.content-container {
    display: inline;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .arrow {
    background-color: transparent;
    border: none;
    font-size: 80px;
  }
  
.bi-arrow-left-circle-fill {
    /* Your styles for the left arrow class here */

    position: relative;
    left: calc(50% - 500px);
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    padding-right: 10px;
  }

.bi-arrow-left-circle-fill {
    color: #193C7D !important;
}
  