body {
    background-color: #E8E8E8;
}

#Login_upper_background {
    background-color: #193C7D;
    width: 100%;
    height: 200px;
    position: absolute;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: medium;
}

#Login_container {
    width: 600px;
    height: 30%;
    overflow: hidden;
    box-shadow: 0 0px 20px rgba(23, 23, 23, 0.598);
    background-color: #FFFFFF;
    position: relative;
    top: 100px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: auto;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: black;
    border-radius: 13px;
    border-style: solid;
    border-width: 0px;
}

#wrap_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#Login_headline {
    margin: 0px;
    padding: 5px;
    top: 0px;
    text-align: center;
    font-size: 220%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#Login_headline>span {
    font-style: italic;
}

.blue {
    color: #193C7D;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

input {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fffefee9;
    border: 1px solid transparent;
    box-shadow: inset 0px 0.5px 10px rgba(112, 112, 112, 0.24);
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: large;
    text-indent: 15px;
}

.input p {
    margin-bottom: 8px;
}

#login_password_input {
    margin-bottom: 0px;    
}

.btn-primary {
    background-color: #193C7D;
    color: white;
    border: #193C7D;
    font-size: larger;
    font-weight: bold;
    width: 130px;
    font-family: 'Inter', sans-serif;
    height: 40px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #1f4da4;
    color: white;
}

.btn-primary:active, .btn-primary:visited {
    background-color: #2557b4 !important;
    color: white;
}

#social_net_container {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: bold; */
    width: 200px;
}

button span {
    font-weight: bold;
    font-size: large;
}

#social_net_container button {
    background-color: #fcfcfc;
    border-color: rgb(59, 59, 59);
    border-width: 1px;
    border-style: solid;
    width: 100%;

}

#social_net_container button:hover {
    background-color: #E3E3E3;
}

#social_net_container button:active {
    background-color: #cecece;
}

.mui-style-rtl-1onl4dq {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    text-align: center;
    border: 0;
    font-weight: 600;
    width: 100%;
}

.mui-style-rtl-c1ovea {
    display: inline-block;
    padding-right: calc(8px * 1.2);
    padding-left: calc(8px * 1.2);
}

.mui-style-rtl-1onl4dq::before, .mui-style-rtl-1onl4dq::after {
    position: relative;
    width: inherit;
    border-top: thin solid rgba(0, 0, 0, 0.12) !important;
    top: 50%;
    content: "";
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
  
.error-message {
    color: red;
    margin-top: 10px;
}
  
button {
    margin-top: 5px;
    cursor: pointer;
    z-index: 2;
}

.password-container {
    position: relative;
    /* display: inline-block;  */
}

.password-container input {
    width: 100%; 
    z-index: 0;
    padding-right: 70px; 
}

.toggle-password {
    position: absolute;
    right: 7px; /* Adjust positioning as needed */
    top: 0px;
    /* transform: translateY(-20%); */
    background: none;
    border: none;
    cursor: pointer;
}