.CenterDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    top: 20px;
    right: 0px;
    left: 0px;
    width: 700px;
    height: fit-content;
}

html, body {
    height: 100%;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Disables horizontal scrolling */
  }

#welcomeBox span{
    color: #193C7D;
}

.HomeBoxes{

    position: relative;

    font-size: larger;
    font-weight: 500;

    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 3px;
    width: 100%;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25) ;

    margin-top: 40px;
    

    padding: 10px;

}

#HomeMainBox input{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px rgb(23, 23, 23);
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: large;
    text-indent: 35px;

    /* text-align: center; */

}

.sort-buttons {
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
}

.orderTiles {
    height: 70px;
}

.input-field {
    width: 100%;
    padding: 10px;


}

.input-icons i {
    position: absolute;
    z-index: 4;
}

.input-icons {
    width: 60%;
    margin-bottom: 10px;

    left: 0px;
    right: 0px;
    margin: auto;
    
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    color: rgb(0, 0, 0);
    min-width: 50px;
    text-align: center;
}

#HomeMainBox{
    position: relative;
    margin-bottom: 20px;


}


#easterEgg {
    color: #00000000;
}

