body {
    background-color: #E8E8E8;
}

#Register_upper_background {
    background-color: #193C7D;
    width: 100%;
    height: 200px;
    position: absolute;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: medium;
}

#password_note {
    color: #0b0b0bb8;
    margin-left: 4px;
    font-weight: bold;
    
}

#Register_container {
    width: 600px;
    height: 30%;
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
    top: 100px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: auto;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 13px;
    box-shadow: 0px 0px 20px rgba(23, 23, 23, 0.598);
}

#wrap_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#Register_headline {
    margin: 0px;
    padding: 5px;
    top: 0px;
    text-align: center;
    font-size: 220%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.blue {
    color: #193C7D;
    font-weight: bold;
}

input {
    min-height: 44px;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: inset 0px 0.5px 5px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: large;
    text-indent: 15px;
}

#Register_verify_input {
    margin-bottom: 0px;
} 

.input p {
    margin-bottom: 8px;
}

.btn-primary {
    background-color: #193C7D;
    color: white;
    border: #193C7D;
    font-size: larger;
    font-weight: bold;
    width: 130px;
    font-family: 'Inter', sans-serif;
    height: 40px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #1f4da4;
    color: white;
}

.btn-primary:active, .btn-primary:visited {
    background-color: #2557b4 !important;
    color: white;
}

button span {
    font-weight: bold;
    font-size: large;
}

#Register_Button {
    margin-bottom: 10px;
}

button {
    margin-top: 5px;
    cursor: pointer;
    z-index: 2;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%; 
    z-index: 0;
    padding-right: 40px; /* Adjust padding */
}

.toggle-password {
    position: absolute;
    right: 10px; /* Adjust positioning as needed */
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn:disabled {
    background-color: gray;
}
